{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="{% static 'account/cadastro.css'%}">
</head>
<body>
    <div class="texto">
        <h1>Cadastre-se</h1>
    <form action="" method="POST"> 
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit">
    </form>
</div>
</html>