{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title>
    <link rel="stylesheet" href="{% static 'account/login.css'%}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
    <form action="" method="POST">
        {% csrf_token%}
        {{ form.as_p }} 
        <input type="submit" value="enviar">
    </form>
    <div class="pass-link">
        <a href="cadastro" > Não possui uma conta? Cadastre-se </a>
    </div>	
</div>
</html>